@import url('https://fonts.googleapis.com/css?family=Rubik');

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

.top-right {
  align-self: flex-end;
  margin-right: 20px;
}

.main-card {
  display: none;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.start-button{
  background-color: #8FBA53;
  border-color: white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  margin-top: 50px;
  transition: .3s;

  &:hover {
    filter: brightness(115%);
    transform: scale(1.2);
  }
}

h1, h2 {
  color: #fff;
  text-shadow:
       3px 3px 8px #000, 
       3px 3px 8px #000, 
       -1px -1px 0 #000, 
       -1px 2px 2px #000, 
       2px 2px 2px #000
}

h1 {
  font-size: 80px;
  margin: 5px 0 0 0;
}

h2 {
  margin-bottom: 50px;
  margin-top: 0;
}

span {
  color: #8FBA53;
}

.pro {
  font-style: italic;
}

.study-hub {
  background-color: #8FBA53;
  border-color: white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  height: 50px;
  margin-top: 20px;
  transition: .3s;

    &:hover {
      filter: brightness(115%);
      transform: scale(1.2);
  }
}

.study-hub-title {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  font-weight: 700;
  margin: 0 auto;
  padding: 5px;
  width: 200px;
}

.num {
  color: #21d0c2;
}
